.bar {
  border-radius: 10px;
  background-color: $background;
  padding: 2.5px 6px;
  border: $primary_color solid 2.25px;
  opacity: 0.99;
}

.bar .clock {
  font-size: 20px;
  font-weight: 600;
  background-color: $sub-background;
  min-width: 85px;
  margin: 5px 4px;;
  border-radius: 4px;
  color: $text;
}

.bar .music {
  background-color: $sub-background ;
  color : $text;
  border-radius: 4px;
  min-width: 260px;
  padding: 0px 8px;
  margin: 5px 4px;
  border-radius: 4px;
}

.bar .music-cover {
  background-position: center center;
  background-repeat: no-repeat; 
  background-size: cover;
  min-width: 31px;
  border-radius: 2px;
  margin: 3px 0px;
}

.bar .default-music-cover {
  font-size:22px;
}

.bar .default-music-label {
  font-size:22px;
  font-size: 600;
}

.bar .music-label {
  margin-top : 2px;
}

.bar .music-label .music-title {
  font-weight: 600;
  font-size: 11px;
}

.bar .music-label .music-artist {
  font-weight: 300;
  font-size: 9px;
}

.bar .music .controller button {
  font-size: 18px;
  min-width: 1px;
  color: $primary_color;
  transition-property: color; 
  transition-duration: 0.2s; 
  transition-timing-function: ease-out; 
}

.bar .music .controller button:hover {
  color: $primary_color_light;
}
.bar .music .controller button:active {
  color: $primary_color_dark;
}


.bar .music-eventbox:hover .music {
  background-color: $primary_color ;
  color : $sub-background
}

.bar .music-eventbox:active .music {
  background-color: $primary_color_dark ;
  color : $sub-background
}

.bar .music-eventbox:hover .controller button {
  color : $sub-background;
}


.bar .workspaces {
  border-radius: 10px;
  padding: 7px 9px;
  margin: 7px 0px ;
  background-color: $sub-background;
}

.bar .workspace-button {
  background-color: #6c7086;
  min-width: 17px;
  border-radius: 100px;
  min-height: 0.01rem;

  transition-property: min-width, background-color; 
  transition-duration: 0.25s; 
  transition-timing-function: ease-out; 
}

.bar .workspace-button-active {
  background-color: $primary_color_dark;
}
.bar .workspace-button-focused {
  min-width: 45px;
  background-color: $primary_color;
}
.bar .workspace-button-eventbox:hover .workspace-button {
  background-color: $primary_color;
}

.bar .workspace-button-eventbox:active .workspace-button {
  background-color: $primary_color_dark;

}

.rightside {
  padding-right: 4px;
}

.bar .banner {
  border: 2px solid #949cbb;
  min-width: 135px;
  margin : 5px 0px;
  border-radius: 4px;
  background-color: #89b4fa;
}

.bar .notification button {
  margin: 5px 0px;
  border-radius: 6px; 
  padding: 0px 8px;
  background-color: $sub-background;  
  font-size: 16px;
  color : $flamingo;
}

.bar .notification button:hover {
  background-color: $primary_color;
  color : #1e1e2e;
}

.bar .notification button:active {
  background-color: $primary_color_dark;
  color : #1e1e2e;
}


.bar .system-info {
  font-weight: 600;
  transition-property: min-width, background-color, color; 
  transition-duration: 0.2s; 
  transition-timing-function: ease-out; 
}
.bar .system-info .brightness,
.bar .system-info .wifi,
.bar .system-info .volume,
.bar .system-info .battery {
  padding: 0px 10px;
  margin: 5px 0px;
  border-radius: 4px;
  background-color: $sub-background;
}




.bar .system-info .wifi-event-box:hover .wifi,
.bar .system-info .battery-event-box:hover .battery,
.bar .system-info .brightness-event-box:hover .brightness,
.bar .system-info .volume-event-box:hover .volume {
  background-color: $surface1;
}


.bar .system-info .wifi {
  color : $mauve;
  font-size: 18px;
}
.bar .system-info .battery {
  color : $green;
  font-size: 18px;
}
.bar .system-info .brightness {  
  color : $yellow;
  font-size: 17px;
}
.bar .system-info .volume {  
  color : $sky;
  font-size: 22px;
}



.bar .volume-value, 
.bar .brightness-value,
.bar .mic-value,
.bar .wifi-value,
.bar .battery-value {
  font-size: 14px;
  color: $text;
}

.bar .mic-value {
  padding-left: 10px;
}
.bar .volume-value {
  padding-left: 14px;
}
.bar .brightness-value {
  padding-left: 16px;
}
.bar .wifi-value {
  padding-left: 8px;
}
.bar .battery-value {
  padding-left: 4px;
}







