"$schema" = "https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/main/themes/schema.json"
final_space = true
version = 3


[[blocks]]
  type = 'prompt'
  alignment = 'left'
  newline = true
    
  [[blocks.segments]]
    template = "<p:muted>┌</>"
    style = "plain"
    type = "session"

    
  [[blocks.segments]]
    foreground = "p:surface"
    background="p:iris"
    type = "session"
    style = "diamond"
    trailing_diamond = ""
    template = "{{ if .SSHSession }} 󰢹 SSH {{end}}"

  
  [[blocks.segments]]
    foreground = "p:overlay"
    background = "p:subtle"
    trailing_diamond = ""
    template = "  {{ .UserName }} "
    style = "diamond"
    type = "session"

  [[blocks.segments]]
    foreground = "p:overlay"
    background="p:gold"
    style = "diamond"
    trailing_diamond = ""
    type = "text"
    template = "{{ if and (env \"VIRTUAL_ENV\") (ne (base (env \"VIRTUAL_ENV\")) \"base\") }}  {{ base (env \"VIRTUAL_ENV\") }} {{ end }}"
    [blocks.segments.properties]
    display_mode = "always"
  
  [[blocks.segments]]
    foreground = "p:text"
    background = "p:highlight_low"
    
    trailing_diamond = ""
    template = "  {{ .Path }} "
    style = "diamond"
    type = "path"
    [blocks.segments.properties]
        style = "full"
  
  [[blocks.segments]]
    type = 'git'
    style = "diamond"
    foreground = "p:text"
    background = "p:highlight_med"
    trailing_diamond = ""
    template = ' {{ .HEAD }}'

    [blocks.segments.properties]
      branch_icon = ' '
      commit_icon = '@'
      fetch_status = true
 

  [[blocks.segments]]
    type = 'git'
    style = "diamond"
    background = "p:highlight_high"
    trailing_diamond = ""
    foreground_templates = ["{{if gt .Behind 0}}p:love{{end}}",
                            "{{if gt .Ahead 0}}p:rose{{end}}",
                            "{{if eq .Ahead 0}}p:foam{{end}}"
                            ]
    template = " {{if or (.Working.Changed) (.Staging.Changed)}}<p:gold></> {{ if ne .Ahead 0 }} {{end}}{{ else if ne .Ahead 0 }}{{else}}<p:foam></> {{ if ne .Ahead 0 }} {{end}}{{end}}{{ if gt .Behind 0 }}󰶡 {{ .Behind }} {{ else if gt .Ahead 0 }}󰶣 {{ .Ahead }} {{ else }}{{end}}"
    [blocks.segments.properties]
      branch_icon = ''
      commit_icon = '@'
      fetch_status = true
  
  [[blocks.segments]]
    type = 'executiontime'
    foreground = "p:gold"
    background = "p:highlight_med"
     trailing_diamond = ""
    
    template = '  {{ .FormattedMs }} '
    style = "diamond"
    
    [blocks.segments.properties]
      threshold = 500
      style = "round"
      
  [[blocks.segments]]
    type = 'status'
    style = "diamond"
    foreground = "p:rose"
    background = "p:highlight_high"
    trailing_diamond = ""
    template = '{{ if ne .Code 0 }}  {{.Code}} {{ end }}'

 
    
 


[[blocks]]
type = 'prompt'
alignment = 'left'
newline = true


  [[blocks.segments]]
  style = "plain"
  foreground = "p:text"
  type = "text"
  template = "<p:muted>└</>"




  

[secondary_prompt]
  foreground = 'p:text'
  background = 'transparent'
  template = ' '



[palette]
base = "#ffffff"
surface = "#ffffff"
overlay = "#ffffff"
muted = "#9790A0"
subtle = "#696969"
text = "#5b4f56"
love = "#c91c60"
rose = "#c91c60"
pine = "#8bb57b"
foam = "#353d61"
iris = "#58376c"
gold = "#d6b36a"
highlight_low = "#f5f5f5"
highlight_med = "#e6e6e6"
highlight_high = "#d1d1d1"

